<div class="other-login d-flex flex-column align-items-center mt-4">
    <span>Hoặc đăng nhập bằng</span>
    <div class="d-flex gap-2">
        <a class="external-login-btn" data-provider="Facebook" href="javascript:void(0)"><i class="bx bxl-facebook-circle"></i></a>
        <a class="external-login-btn" data-provider="Google" href="javascript:void(0)"><i class="bx bxl-google"></i></a>
    </div>
</div>