<button class="to-top-btn">
    <i class="fa-solid fa-chevron-up"></i>
</button>

<section class="overlay"></section>

<section class="webloading">
    <div class="loader"></div>
</section>

<section class="change-theme position-fixed">
    <div class="change-theme-wrapper position-relative">
        <i class='bx bx-chevron-left toogle-theme-btn position-absolute'></i>
        <div class="theme-select">
            <div class="theme-item">
                <input type="radio" id="theme-1" name="theme" value="theme-1" />
                <label for="theme-1" class="theme-label-box d-flex align-items-center gap-2">
                    <span class="theme-color theme-color-1"></span>
                    <span class="theme-label"></span>
                </label>
            </div>
            <div class="theme-item">
                <input type="radio" id="theme-2" name="theme" value="theme-2" />
                <label for="theme-2" class="theme-label-box d-flex align-items-center gap-2">
                    <span class="theme-color theme-color-2"></span>
                    <span class="theme-label"></span>
                </label>
            </div>
            <div class="theme-item">
                <input type="radio" id="theme-3" name="theme" value="theme-3" />
                <label for="theme-3" class="theme-label-box d-flex align-items-center gap-2">
                    <span class="theme-color theme-color-3"></span>
                    <span class="theme-label"></span>
                </label>
            </div>
            <div class="theme-item">
                <input type="radio" id="theme-4" name="theme" value="theme-4" />
                <label for="theme-4" class="theme-label-box d-flex align-items-center gap-2">
                    <span class="theme-color theme-color-4"></span>
                    <span class="theme-label"></span>
                </label>
            </div>
            <div class="theme-item">
                <input type="radio" id="theme-5" name="theme" value="theme-5" />
                <label for="theme-5" class="theme-label-box d-flex align-items-center gap-2">
                    <span class="theme-color theme-color-5"></span>
                    <span class="theme-label"></span>
                </label>
            </div>
        </div>
    </div>
</section>