@model IEnumerable<DeliveryUnit>

<footer>
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="footer-col">
                    <div class="footer-title d-flex justify-content-between">
                        VỀ STECH
                        <span class="icon-title"></span>
                    </div>
                    <div class="footer-content">
                        <a href="/about">Giới thiệu</a>
                        <a href="#">Tuyển dụng</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="footer-col">
                    <div class="footer-title d-flex justify-content-between">
                        CHÍNH SÁCH
                        <span class="icon-title"></span>
                    </div>
                    <div class="footer-content">
                        <a href="#">Chính sách bảo hành</a>
                        <a href="#">Chính sách thanh toán</a>
                        <a href="#">Chính sách giao hàng</a>
                        <a href="#">Chính sách bảo mật</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="footer-col">
                    <div class="footer-title d-flex justify-content-between">
                        THÔNG TIN
                        <span class="icon-title"></span>
                    </div>
                    <div class="footer-content">
                        <a href="#">Hệ thống cửa hàng</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="footer-col">
                    <div class="footer-title d-flex justify-content-between">
                        TỔNG ĐÀI HỖ TRỢ
                        <span class="icon-title"></span>
                    </div>
                    <div class="footer-content">
                        <div class="footer-list-info">
                            <p>
                                <span>Gọi mua:</span>
                                <span>0123456789</span>
                                <span>(8:00 - 21:00)</span>
                            </p>
                            <p>
                                <span>CSKH:</span>
                                <span>0123456789</span>
                                <span>(8:00 - 21:00)</span>
                            </p>
                            <p>
                                <span>Email:</span>
                                <span>lehoangsang02062003@gmail.com</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="footer-col">
                    <div class="footer-col">
                        <div class="footer-title d-flex justify-content-between">
                            ĐƠN VỊ VẬN CHUYỂN
                            <span class="icon-title"></span>
                        </div>
                        <div class="footer-content">
                            <div class="footer-delivery d-flex flex-wrap">
                                @foreach(DeliveryUnit du in Model)
                                {
                                    <img src="@du.LogoSrc" alt="@du.Duname" class="delivery-logo">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-col">
                        <div class="footer-title d-flex justify-content-between">
                            CÁCH THỨC THANH TOÁN
                            <span class="icon-title"></span>
                        </div>
                        <div class="footer-content">
                            <div class="footer-paylist d-flex flex-wrap">
                                <img src="~/images/payments/cash-payment.png" alt="" class="payment-item">
                                <img src="~/images/payments/internet-banking.jpg" alt="..." class="payment-item">
                                <img src="~/images/payments/momo.png" alt="" class="payment-item">
                                <img src="~/images/payments/visa.png" alt="" class="payment-item">
                                <img src="~/images/payments/mastercard.png" alt="" class="payment-item">
                                <img src="~/images/payments/paypal.jpg" alt="" class="payment-item" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-break"></div>
        <div class="footer-bottom d-flex align-items-center">
            <div class="footer-title">
                KẾT NỐI VỚI CHÚNG TÔI
            </div>
            <div class="social-list">
                <a href="#" class="social-link">
                    <i class="fa-brands fa-facebook social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-tiktok social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-youtube social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-github social-icon"></i>
                </a>
            </div>
        </div>
    </div>
</footer>