@{
    ViewData["Title"] = "Quản lý đánh giá sản phẩm - STech Admin";
    ViewData["PageTitle"] = "Quản lý đánh giá sản phẩm";
}

@model IEnumerable<ReviewMVM>

<section class="page-wrapper" data-current-user="@(User.FindFirst("Id")?.Value)">
    <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
        @await Html.PartialAsync("PartialViews/ReviewFilters")
        @await Html.PartialAsync("PartialViews/_PageSearchForm", new Tuple<string, string, string>("search-reviews", "Tìm đánh giá theo mã/tên sản phẩm", ViewBag.SearchValue))
    </div>

    <div class="review-list mt-3">
        @foreach(ReviewMVM review in Model)
        {
            @await Html.PartialAsync("PartialViews/Review", review)
        }
    </div>

    @await Html.PartialAsync("PartialViews/_Pagination", new Tuple<int, int>(ViewBag.CurrentPage, ViewBag.TotalPages))

</section>

<div class="form-container reply-review">
    <div class="form-box d-flex flex-column" style="width: 50rem; height: 50rem;">
        <div class="d-flex">
            <div class="review flex-grow-1">
            </div>

            <div>
                <button class="page-btn-reload reload-replies">
                    <i class="fa-solid fa-rotate-right"></i>
                </button>
            </div>
        </div>

        <hr />

        <div class="review-replies flex-grow-1">

        </div>

        @await Html.PartialAsync("PartialViews/Form_ReviewReply", new ReviewReplyVM())
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/admin/css/reviews.css" />
}

@section Scripts {
    <script src="~/admin/js/reviews.js"></script>
}