<div class="filter-action-wrapper">
    <button class="filter-cancel-action page-btn">
        <span>BỎ CHỌN</span>
    </button>

    <button class="filter-submit-action page-btn btn-blue">
        <span>LỌC</span>
    </button>
</div>