<header class="px-3 d-flex align-items-center justify-content-between gap-3">
    <h4 class="m-0">@ViewData["PageTitle"]</h4>

    <div class="d-flex align-items-center gap-4">
        <div class="notification-wrapper position-relative">
            <a class="show-notification" href="javscript:void(0)">
                <i class="fa-regular fa-bell"></i>
            </a>
            <div class="notification-content">
                <p>Không có thông báo</p>
            </div>
        </div>

        <div class="user-wrapper position-relative">
            <div class="d-flex align-items-center gap-2">
                <div class="user-image-wrapper">
                    <img src="@(User.FindFirst("Avatar")?.Value ?? "~/admin/images/user-no-image.svg")" alt="" />
                </div>
                <i class="show-user-action fa-solid fa-chevron-down cursor-pointer"></i>
            </div>
            <div class="user-action d-flex flex-column gap-2">
                <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center">
                    <i class="fa-solid fa-circle-info"></i>
                    <span>Thông tin nhân viên</span>
                </a>
                <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center click-logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Đăng xuất</span>
                </a>
            </div>
        </div>

    </div>
</header>