<div class="d-flex gap-2 flex-wrap">
    <button class="page-btn-reload reload-page-data">
        <i class="fa-solid fa-rotate-right"></i>
    </button>

    <div class="page-dropdown sort-selection">
        <div class="page-dropdown-btn" data-selected="">
            <span>Sắp xếp theo</span>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="page-dropdown-content">
            <div class="page-dropdown-item" data-value="" data-text="Sắp xếp theo">
                <span>Sắp xếp theo</span>
            </div>
            <div class="page-dropdown-item" data-value="rating-ascending" data-text="Số sao tăng dần">
                <span>Số sao tăng dần</span>
            </div>
            <div class="page-dropdown-item" data-value="rating-descending" data-text="Số sao giảm dần">
                <span>Số sao giảm dần</span>
            </div>
            <div class="page-dropdown-item" data-value="newest" data-text="Mới nhất">
                <span>Mới nhất</span>
            </div>
            <div class="page-dropdown-item" data-value="oldest" data-text="Cũ nhất">
                <span>Cũ nhất</span>
            </div>
        </div>
    </div>

    <div class="page-dropdown status-selection">
        <div class="page-dropdown-btn" data-selected="">
            <span>Trạng thái</span>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="page-dropdown-content">
            <div class="page-dropdown-item" data-value="" data-text="Trạng thái">
                <span>Trạng thái</span>
            </div>
            <div class="page-dropdown-item" data-value="not-approved" data-text="Chưa duyệt">
                <span>Chưa duyệt</span>
            </div>
            <div class="page-dropdown-item" data-value="approved" data-text="Đã duyệt">
                <span>Đã duyệt</span>
            </div>
        </div>
    </div>

    <div class="page-dropdown filter-selection">
        <div class="page-dropdown-btn" data-selected="">
            <span>Số sao</span>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="page-dropdown-content">
            <div class="page-dropdown-item" data-value="" data-text="Số sao">
                <span>Số sao</span>
            </div>
            <div class="page-dropdown-item" data-value="5-stars" data-text="5 sao">
                <span>5 sao</span>
            </div>
            <div class="page-dropdown-item" data-value="4-stars" data-text="4 sao">
                <span>4 sao</span>
            </div>
            <div class="page-dropdown-item" data-value="3-stars" data-text="3 sao">
                <span>3 sao</span>
            </div>
            <div class="page-dropdown-item" data-value="2-stars" data-text="2 sao">
                <span>2 sao</span>
            </div>
            <div class="page-dropdown-item" data-value="1-star" data-text="1 sao">
                <span>1 sao</span>
            </div>
        </div>
    </div>
</div>